<% include ./partial/header.ejs %>

<div class="container">
  <hr>
  <h1>Reset your password</h1>
  <form action="/newpassword/<%= founduser._id %>" method="post"> <br> <br>
    <input type="password" placeholder="password" name="password1">  <br> <br>
    <input type="password" placeholder="Confirm password" name="password2"> <br> <br>
    <input type="submit" >
  </form>
   
</div>
  

<% include ./partial/footer.ejs %>
