<% include ./partial/header.ejs %>
  <div class="container" >

    <h1 class="mt-4" style="position:absolute;left: 50%;transform: translate(-50%,0);">Reset password</h1>

    <form method="post" action="/reset" style="width: 50%; box-shadow: 0px 0px 20px rgb(194, 194, 194); 
      padding: 20px; border-radius: 10px; background-color: rgb(246, 249, 255); position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">

      <h1>Enter your valid email address</h1>

      <div class="mt-4" >
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <button type="submit" class="btn btn-primary mt-4">Submit</button>

    </form> 
  
  </div>

  
<% include ./partial/footer.ejs %>
